.classAmounts {
    width: 75%;
    margin: 0 2rem;
    text-align: right;
}

.classAmounts button {
    cursor: pointer;
    color: white;
    background-color: #7FD287;
    padding: 1rem 2rem;
    border-radius: 8px;
    border: none;
    margin-left: 0.5rem;
}

.classAmounts span {
    display: inline-block;
    padding: 2rem;
}

.subTotal, .discount, .total {
    text-align: right;
    border-top: 1px #E6E6EB solid;
}

.subTotal, .discount {
    padding-right: 8rem;

}