.cartItem {
    display: flex;
    box-shadow: 5px 5px 20px rgba(133, 133, 133, 0.2);
    border-radius: 30px;
    aspect-ratio: 9.9;
    margin: 2rem;
    align-items: center;
    width: 75%;
}

.cartItem img {
    object-fit: scale-down;
    width: 10%;
    margin: 0 2rem;
}

.cartCountContainer {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-top: 2rem;
}

.removeIcon {
    width : 5%;
    margin-right: 1rem;
}

.cartItemPrice {
    width: 10%;
}

.cartItemName {
    width: 50%;
}

.availability {
    color: white;
    border-radius: 10px;
    width: max-content;
    padding: 0 0.3rem;
    font-size: small;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.green {
    background-color: #00CA1480;
}

.orange {
    background-color: #FF944680;
}

@media screen and (max-width:900px) {
    .cartItem img {
        grid-area: image;
        margin: 0;
        width: 35%;
    }

    .cartItemName {
        grid-area: name;
        margin-left: 80%;
    }

    .cartCountContainer {
        grid-area: count;
        margin: 5% 0;
        padding: 0;
    }

    .cartItemPrice {
        grid-area: price;
        align-self: center;
        justify-self: start;
        margin: 0;
    }

    .removeIcon {
        grid-area: removeIcon;
        margin: 2% 0 2% 80%;
    }
    
    .cartItemName, .cartCountContainer, .cartItemPrice, .removeIcon {
        width: 100%;
    }

    .cartItem {
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: "name name name name name"
        "image image image price count"
        " . . removeIcon . .";
        align-items: center;
        justify-items: center;
        height: auto;
        width: 60%;
    }
}