.categoriesContainer {
    margin-top: 2rem;
}

.categoriesContainer button {
    border: 1px solid rgba(190, 190, 190, 0.5);
    box-shadow: 5px 5px 20px rgba(181, 181, 181, 0.2);
    border-radius: 30px;
    background-color: #FFF;
    height: 2.9rem;
    padding: 0 2rem;
    margin: 0 0.8rem;
    cursor: pointer;   
}